<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:ref="@{/app.css}" />
    <title>Title</title>

</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/foodmenu">Food Menu</a></li>
        <li><a href="/drinkmenu">Drink Menu</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/reservations">Reservations</a></li>
    </ul>
</nav>
<h1>Contact Us</h1>
<p>We're located at the corner of 5th and Main in Berkley, MI</p>
<p>Call us at 813-555-5555</p>
<p>email us at wilkswingshop.com</p>
</body>
</html>