<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet" th:href="@{/app.css}"/>
<head>
    <meta charset="UTF-8"/>

    <title>Title</title>

</head>
<body>
<nav class="nav-bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/foodmenu">Food Menu</a></li>
        <li><a href="/drinkmenu">Drink Menu</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/reservations">Reservations</a></li>
    </ul>
</nav>
<h1>Food Menu</h1>
<div class="menu-container">
    <div class="row">
        <div th:each="food: ${foodmenu}" class="menu-container">
            <a th:href="'/food/' + ${food.name}" th:text="${food.name}"></a>
            <span>.......................................................</span>
            <a th:href="'/food/' + ${food.price}" th:text="${food.price}"></a>
            <!--            <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="Favorite Gifs"/>-->
            <!--            <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>-->
            </a>
        </div>
    </div>
</div>
</body>
</html>